#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 20px;
}

h3{
    text-align: center;
    color: grey;
}

#emi{
    margin: 30px 90px;
}